.nav {
  height: 100%;
  position: fixed;
  left: 0;
}

.burger {
  color: #e0dcd9;
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
  position: fixed;
  left: 0;
  display: none;
}
.burger:hover {
  font-size: 38px;
}

.arrow {
  color: #e0dcd9;
  font-size: 25px;
  background-color: #6e7f62;
  align-self: flex-end;
  margin: 10px;
  cursor: pointer;
}

.nav li {
  color: white;
  font-size: 15px;
  padding: 5px 20px 25px;
}
.nav li:active {
  color: #919f88;
}

.nav ul {
  display: none;
  width: 30%;
  height: 100%;
  flex-direction: column;
  background-color: #6e7f62;
  border-radius: 7px;
}
.dropMenuWrapper {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #e0dcd9;
  cursor: pointer;
  border-radius: 10px;
  list-style-type: none;
}
.dropMenu ul {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  background-color: #b3c1e1;
}
.dropMenu li {
  font-size: 15px;
  list-style-type: none;
  background-color: #9f9688;
  background-color: #b3c1e1;
  cursor: pointer;
  width: 100%;
}
.dropMenu li:active {
  color: #7894d3;
}
.dropMenu li:active {
  color: #6e7f62;
}
.dropMenu li:first-of-type {
  padding-top: 3rem;
}
.dropMenu li:last-of-type {
  padding-bottom: 3rem;
}
@media (max-width: 1024px) {
  .nav ul {
    position: fixed;
    top: 10px;
    display: flex;
    width: 25%;
    height: 100%;
    top: 20px;
    z-index: 1000;
  }
  .burger {
    color: #919f88;
    position: fixed;
    top: 3rem;
    font-size: 30px;
    display: block;
    z-index: 1000;
  }
  .burger:hover {
    font-size: 32px;
  }
}

@media (max-width: 697px) {
  .nav ul {
    width: 50%;
    z-index: 1000;
  }
}
@media (max-width: 540px) {
  .nav ul {
    /* prije bilo width: 50% */
    width: 100%;
    top: 0px;
    opacity: 0.9;
    text-align: center;
    z-index: 1000;
  }

  /* nije bilo prije */
  .arrow {
    z-index: 1000;
  }
}
/* vrati ako treba */
/* @media (max-width: 379px) {
  .nav ul {
    width: 50%;
  }
} */
