.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3%;
  padding: 15px;
  padding-top: 5px;
  height: 90vh;
  color: #eee8e3;
  /* pazi padding top ako dodajes jos itema */
}
.imageContainer {
  flex-basis: 31%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.imageContainer h4 {
  text-transform: uppercase;
  border: 1px solid;
  font-weight: 300;
  padding: 5px;
  line-height: 1.5;
}
.imageContainer h2 {
  font-weight: 400;
  padding: 5px;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imageContainer:first-of-type {
  background: url(../../public/images/Toys-0-3.jpg) no-repeat center
    center/cover;
}
.imageContainer:nth-of-type(2) {
  background: url(../../public/images/bear.jpg) no-repeat center center/cover;
}
.imageContainer:nth-of-type(3) {
  background: url(../../public/images/Home.jpg) no-repeat center center/cover;
}
.imageContainer:nth-of-type(4) {
  background: url(../../public/images/jellyfish.jpg) no-repeat center
    center/cover;
}
.imageContainer:nth-of-type(5) {
  background: url(../../public/images/Clothes.jpg) no-repeat center center/cover;
}
.imageContainer:nth-of-type(6) {
  background: url(../../public/images/Decor.jpg) no-repeat center center/cover;
}
.imageContainer:nth-of-type(7) {
  background: url(../../public/images/Decor.jpg) no-repeat center center/cover;
}
.imageContainer:hover {
  transition: font-size 0.4s ease-in;
  font-size: 18px;
}

@media (max-width: 700px) {
  .imageContainer:hover {
    transition: none;
    z-index: -1;
  }
  .imageContainer {
    flex-basis: 100%;
  }
  .gallery {
    padding-top: 20px;
  }
  .imageContainer h4 {
    text-transform: uppercase;
    border: 1px solid;
    font-weight: 300;
    padding: 5px;
    line-height: 1.5;
  }
  .imageContainer h2 {
    font-size: 20px;
  }
}
