.wrapper {
  display: flex;
  font-family: verdana;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 30px;
  width: 45%;
  color: #6e7f62;
}

.form h3 {
  color: #90abb0;
  padding: 10px 0px;
  font-size: 20px;
}
.form p {
  color: #90abb0;
  padding: 0;
  font-size: 18px;
  margin: 0;
}
.form h2 {
  padding: 10px 0px;
}

.image {
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
input,
textarea {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6e7f62;
  background-color: transparent;
  width: 70%;
  padding: 2px;
  color: black;
  font-size: 15px;
}
input:focus,
textarea:focus {
  border-color: #87bdd8;
}
.form button {
  padding: 15px 25px;
  background-color: #6e7f62;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
}
.form button:hover {
  background-color: #90abb0;
  transition: all 1s;
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
  width: 45%;
  color: #6e7f62;

  padding: 20px 10px;
}
.message h1 {
  color: #90abb0;
  padding-bottom: 20px;
}
.message p:nth-of-type(2) {
  padding-bottom: 20px;
}
.message button {
  width: 40%;
  padding: 15px;
  background-color: #6e7f62;
  color: #eee8e3;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 6px;
}

@media (max-width: 1400px) {
  .image {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .message button {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .message h1 {
    font-size: 27px;
  }
  .message p {
    font-size: 16px;
  }
  .message button {
    width: 80%;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .image {
    width: 35%;
  }

  .form h3 {
    font-size: 20px;
  }
  .form h2 {
    font-size: 19px;
  }

  input,
  textarea {
    width: 80%;
    padding: 2px;

    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 70%;
    color: #6e7f62;
  }
  .wrapper p {
    text-align: center;
    width: 80%;
    font-size: 17px;
    padding-top: 0px;
  }
  .form h3 {
    padding-top: 30px;
    width: 90%;
    text-align: center;
    font-size: 20px;
  }
  .image {
    width: 50%;
  }
  .message {
    padding: 5px 10px 10px;
    flex-direction: column;
    align-items: center;
  }

  .message h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }
  .message p {
    font-size: 17px;
  }
  .message button {
    padding: 12px 5px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .wrapper p {
    text-align: center;
  }
  .image {
    width: 70%;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 90%;
    color: #6e7f62;
  }
  .form h3 {
    font-size: 18px;
    width: 90%;
    text-align: center;
    padding: 20px 0px 0px;
    margin-top: 10px;
  }

  .form h2 {
    font-size: 19px;
    padding: 5px;
  }

  .message {
    width: 80%;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  .message h1 {
    font-size: 22px;
    padding: 10px;
  }
  .message p {
    font-size: 16px;
    padding-bottom: 0px;
  }
  .message button {
    padding: 12px 5px;
    width: 85%;
  }
}
