.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #6e7f62;
}
.wrapper p {
  width: 80%;
  font-size: 18px;
  padding: 1% 20%;
  text-align: center;
  border-radius: 7px;
}
.link {
  color: #ffbf00;
  font-weight: 600;
}

.termsWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px;
  margin-left: 1em;
  gap: 10px;
  font-size: 1em;
  color: #000000;
}

.terms {
  text-decoration: underline;
  font-weight: bold;
}
@media (hover: hover) {
  .link:hover {
    color: #ffbf00;
    font-weight: 700;
    transition: color 1000ms ease-in;
  }
}
@media (max-width: 950px) {
  .wrapper p {
    width: 100%;
    font-size: 16px;
    padding: 1% 15%;
  }
}
@media (max-width: 550px) {
  .wrapper p {
    width: 100%;
    padding: 1% 7%;
    font-size: 15px;
  }
  .termsWrapper {
    font-size: 14px;
  }
}
