.wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #90abb0;
  color: #eee8e3;
}
.wrapper h1 {
  /* font-variant: small-caps; */
  padding: 30px 0px 10px;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
}
.gallery {
  display: flex;
  padding: 20px 20px 90px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  text-align: center;
  color: #eee8e3;
  background-color: #90abb0;
}

.gallery img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 400px;
  height: 400px;
  border-radius: 7px;
}

.text {
  background-color: #708a8f;
  border-radius: 7px;
  padding: 10px 0px;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}
.text h4 {
  padding: 10px;
  font-family: "Amatic SC", cursive;
}
.text p {
  padding: 10px;
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

@media (max-width: 400px) {
  .gallery img {
    width: 350px;
    height: 350px;
  }
  .wrapper h1 {
    font-variant: small-caps;
    font-size: 38px;
    padding: 20px 0px 0px;
  }
  .text {
    background-color: #708a8f;
    border-radius: 7px;
    padding: 5px 0px;
    font-size: 30px;
  }
  .text h4 {
    padding: 10px;
    font-size: 27px;
  }
  .text p {
    padding: 10px;
    font-size: 25px;
  }
}
