.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.container {
  background: #6e7f62;
  background: #919f88;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 80%;
  padding: 20px 0px;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
  /* justify-content: center; */
  color: #eee8e3;
  gap: 10px;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 3px;
}

.description {
  color: #eee8e3;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
}
.description button {
  width: 40%;
  padding: 15px;
  background-color: #ffbf00;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 6px;
}
.description button:hover {
  background-color: #e6a100;
  transition: all 1s;
  cursor: pointer;
}
.description p {
  width: 100%;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 35px;
}
.imageContainer {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 6px;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.aboutPhotos {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}
.about img {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.about p {
  width: 35%;
  text-align: justify;
  font-size: 17px;
  margin-top: 10px;
  padding: 25px 5px;
  border-radius: 10px;
  line-height: 1.5;
}

@media (max-width: 1700px) {
  .container {
    padding: 15px 25px;
    margin-top: 10px;
  }
  .description button {
    width: 60%;
    padding: 15px;
    font-size: 16px;
  }
}
@media (max-width: 1380px) {
  .description button {
    width: 60%;
    padding: 15px;
    font-size: 16px;
  }
  .imageContainer {
    width: 60%;
  }
  .about img {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .description button {
    width: 60%;
    padding: 14px;
    font-size: 16px;
  }

  .description p {
    width: 100%;
    padding-bottom: 20px;
    font-size: 17px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 25px;
    width: 70%;
  }

  .imageContainer {
    width: 80%;
  }

  .description p {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
  }
  .description button {
    width: 70%;
    font-size: 16px;
  }

  .pageWrapper {
    gap: 20px;
  }
  .about {
    gap: 2px;
  }
  .aboutPhotos {
    display: flex;
    width: 70%;
    gap: 30px;
  }
  .about img {
    width: 40%;
  }

  .about p {
    width: 55%;
    text-align: justify;
    font-size: 16px;
    padding: 30px 10px;
  }
}

@media (max-width: 1210px) {
  .container {
    margin-top: 15px;
    width: 90%;
    height: 80vh;
    font-size: 15px;
  }
  .description p {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
  }
  .description button {
    width: 70%;
    font-size: 16px;
  }
  .pageWrapper {
    gap: 10px;
  }
  .about {
    gap: 2px;
  }
  .aboutPhotos {
    display: flex;
    width: 80%;
    gap: 10px;
  }
  .about img {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .item h3 {
    font-size: 17px;
  }
  .about p {
    width: 45%;
    text-align: justify;
    font-size: 15px;
    margin-top: 10px;
    padding: 25px 5px;
    border-radius: 10px;
    line-height: 1.5;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 20px;
    flex-wrap: wrap-reverse;
    height: 100%;
    width: 80%;
    padding-bottom: 0px;
  }
  .imageContainer {
    width: 450px;
    height: 450px;
    border-radius: 50%;
  }
  .description {
    font-size: 16px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 30px;
  }
  .description p {
    width: 80%;
    text-align: center;
    font-size: 19px;
  }
  .description button {
    font-size: 19px;
    padding: 15px;
    width: 60%;
  }

  .pageWrapper {
    gap: 10px;
  }
  .about {
    gap: 2px;
  }
  .aboutPhotos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding: 0px 0px 20px;
  }
  .about img {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .about p {
    width: 55%;
    font-size: 15px;
    margin-top: 10px;
    padding: 25px 5px;
  }
}
@media (max-width: 760px) {
  .container {
    padding: 20px;
    flex-wrap: wrap-reverse;
    height: 100%;
    width: 80%;
    padding-bottom: 0px;
  }
  .imageContainer {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  .description {
    font-size: 16px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 30px;
  }
  .description p {
    width: 80%;
    text-align: center;
    font-size: 16px;
  }
  .description button {
    font-size: 16px;
    padding: 15px;
  }

  .pageWrapper {
    gap: 10px;
  }
  .about {
    gap: 2px;
  }
  .aboutPhotos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding: 0px 0px 20px;
  }
  .about img {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .about p {
    width: 55%;
    font-size: 15px;
    margin-top: 10px;
    padding: 25px 5px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 20px;
    flex-wrap: wrap-reverse;
    height: 100%;
    width: 90%;
    padding-bottom: 0px;
  }
  .imageContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .description {
    font-size: 16px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 30px;
  }
  .description p {
    width: 80%;
    text-align: center;
    font-size: 16px;
  }
  .description button {
    font-size: 16px;
    padding: 20px;
  }
  .about p {
    width: 60%;
  }
  .pageWrapper {
    gap: 10px;
  }
  .about {
    gap: 2px;
  }
  .aboutPhotos {
    width: 100%;
    gap: 5px;
    padding: 0px 0px 20px;
  }
  .about img {
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
