.photoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  padding-top: 0;
  flex-wrap: wrap;
  gap: 5px;
}
.photoWrapper img {
  padding-bottom: 5px;
  width: 22%;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 30%;
  font-variant: small-caps;
  align-items: center;
}
.textWrapper p {
  text-align: justify;
  background-color: rgba(188, 143, 143, 0.15);
  padding: 19px;
  border-radius: 10px;
  line-height: 1.5;
}
.mobileText {
  display: none;
}

@media (max-width: 1620px) {
  .photoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
  .textWrapper {
    width: 45%;
  }

  .mobileText {
    display: none;
  }
}

@media (max-width: 1094px) {
  .photoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .mobileText {
    text-align: center;
    display: block;
    width: 100%;
    font-variant: small-caps;
    align-items: center;
    background-color: rgba(188, 143, 143, 0.15);
    padding: 19px;
    border-radius: 10px;
  }
  .photoWrapper p {
    gap: 10px;
    width: 80%;
    font-variant: small-caps;
    align-items: center;
  }
  .textWrapper {
    order: -1;
    width: 100%;
  }

  .photoWrapper img:first-of-type {
    order: -3;
    padding-top: 10px;
  }
  .photoWrapper img:nth-of-type(2) {
    order: -3;
    padding-top: 10px;
  }
  .photoWrapper img {
    width: 400px;
  }
}
@media (max-width: 830px) {
  .textWrapper {
    order: -1;
    width: 100%;
  }

  .photoWrapper img:first-of-type {
    order: -3;
    padding-top: 10px;
  }
  .photoWrapper img:nth-of-type(2) {
    order: -3;
    padding-top: 10px;
  }
  .photoWrapper img {
    width: 300px;
  }
}
@media (max-width: 630px) {
  .textWrapper {
    order: -1;
    width: 100%;
  }

  .photoWrapper img:first-of-type {
    order: -3;
    padding-top: 10px;
  }
  .photoWrapper img:nth-of-type(2) {
    order: 0;
    padding-top: 10px;
  }
  .photoWrapper img {
    width: 400px;
  }
}
