.container {
  display: flex;
}

.underlinedMenu {
  color: rgba(250, 25, 150, 0.5);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.item {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  color: #6e7f62;
  font-variant: small-caps;
}

.underline {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  background: rosybrown;
  opacity: 0.85;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

.dropdownItem {
  cursor: pointer;
  padding: 5px 10px;
  color: #6e7f62;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
